@media screen and (max-width: 1200px) {
  .main-content {
    display: flex;
    flex-direction: column;
  }
  .balloon-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .info-wrapper {
    width: 100%;
    padding: 0;
  }
  .balloon-image {
    align-self: center;
    margin: auto;
    width: 80%;
    /* border: black solid 10px; */
  }
  .info-text {
    width: 100%;
  }
  .vid-container {
    padding-top: 12rem;
    /* border: black solid 10px; */
  }
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Rubik', sans-serif; */
}

.header-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.name-header {
  font-size: 4rem;
  color: #1a396e;
  font-weight: 800;
  letter-spacing: 3px;
}

.content-wrapper {
  background-color: #e4e3e8;
}

.balloon-image {
 margin-left: 5rem;
 margin-top: 2rem;
}

.info-wrapper {
  padding: 2rem 5rem;
}

p {
  text-align: justify;
}

h2, h3, .vid-description {
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

.vid-description {
  line-height: 1.5rem;
  font-size: 1.1rem;
  /* background-color: green; */
  padding-left: 2rem;
  padding-right: 2rem;
}

h2 {
  font-weight: 700;
  color: #2e6196;
  font-size: 2rem;
}

h3 {
  font-weight: 500;
}

.main-content {
  display: flex;
}

.project-content {
  justify-content: center;
}

.video-frame {
  max-width: 80%;
  max-height: 100%;
  /* background-color: green; */
}

.vid-content {
  display: flex;
  flex-direction: column;
  /* background-color: green; */
}

.vid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin-top: -10rem;
  margin-bottom: 0;
  /* background-color: green; */
}

.balloon-container {
  /* border: black solid 1px; */
  width: 25%;
  display: inline-block;
}

a {
  cursor: pointer;
}

.social-icons img{
  margin-right: 1rem;
}

.social-icons img:hover{
  height: 60px;
}

.text-link {
  text-decoration: none;
}

.text-link:hover {
  color:#1a396e;
  font-size: large; 
}

footer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}