* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Rubik', sans-serif; */
}

.header-wrapper {
  display: flex;
  justify-content: center;
}

.name-header {
  font-size: 3rem;
  color: #1a396e;
}

.content-wrapper {
  background-color: #e4e3e8;
}

.balloon-image {
 margin-left: 5rem;
 margin-top: 2rem;
}

.info-wrapper {
  padding: 2rem 5rem;
}

.nice-text {
  color: orange;
}

.main-content {
  display: flex;
}

.video-frame {
  margin: auto;
  border-radius: 20px;
}

.vid-container {
  margin: auto;
}